@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #22e1ff;

    --background: 200 65% 4.56%;
    --foreground: 200 10% 97.85%;

    --muted: 200 50% 17.099999999999998%;
    --muted-foreground: 200 10% 55.7%;

    --popover: 200 45% 7.409999999999999%;
    --popover-foreground: 200 10% 97.85%;

    --card: 200 45% 7.409999999999999%;
    --card-foreground: 200 10% 97.85%;

    --border: 200 50% 17.099999999999998%;
    --input: 200 50% 17.099999999999998%;

    --primary: 200 100% 57%;
    --primary-foreground: 200 10% 5.699999999999999%;

    --secondary: 200 50% 17.099999999999998%;
    --secondary-foreground: 200 10% 97.85%;

    --accent: 200 50% 17.099999999999998%;
    --accent-foreground: 200 10% 97.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 200 10% 97.85%;

    --ring: 200 100% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
